
html{
    height: 100%;
    font-family: helvetica, arial, sans-ser;
    font-weight: bolder;
}
body{


    
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;


    /* Created with https://www.css-gradient.com */

    background: linear-gradient(141deg, #d00070, #8c4799, #0032a0);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 46s ease infinite;
    -moz-animation: AnimationName 46s ease infinite;
    animation: AnimationName 46s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@keyframes AnimationName {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}

}

#darkThemeBtn{

    position: fixed;
    top: 0;
    right: 0;
    
    border: 3px solid #73AD21;


}

.dark-mode{

background-color: black;
color: white;


}


#oldpageBtn{
    background-color: blue; color: white; border: solid black;
    
    margin: 2px;
    opacity: 50%;


}

#oldpageBtn:hover{

opacity: 100%;

}

.g-col-4{

    background-color:black;
    
}

 .container{

    margin-top: 20px;

position:relative;
    border: solid;
    height: 600px;
    padding-top: 20px;
    

} 
.column{

    margin: 1px
}
.row{
margin: 1px;
color: white;

}



 .container div {
     
    background-color:black;
    width: 100px;
    height: 100px;
    

    
            
            text-align: center;
            background-color: #efcb68;
            
          
            
            
            
            

} 


.parent{

   
display: grid;
grid-gap: 10px;
grid-template-columns: 150px 150px 150px;
grid-template-rows: 150px 150px 150px;
border-radius: 5px;

display:grid;
place-items: center;

}

.parent > div:hover {

padding: 10px;

background: rgba(0, 0, 0, .1);



}